node_modules
old-raw/Files/BaseClient/auth.json
TS/Files/BaseClient/auth.json
old-raw/Files/Downloads
TS/Files/Downloads
.vscode
old-raw/Files/blocklist.json
TS/Files/blocklist.json
.idea
old-raw/Files/Commands/execute.js
TS/Files/Commands/execute.ts
*-lock.json